<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>Index Page</h1>
    <ul class="comment-section">
      <% messages.map((message) => { %>
      <div class="posts">
        <li><%= message.text %></li>
        <li><%= message.user %></li>
        <li><%= message.added %></li>
      </div>
      <% }) %>
    </ul>
  </body>
</html>
