body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid black;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  max-width: 250px;
}

button {
  max-width: 150px;
}
